.cart-dropdown {
  
        position: absolute;
        width: 250px;
        height: 340px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid black;
        background-color: white;
        top: 90px;
        right: 14px;
        z-index: 55;
        margin-top: 3px;

    
    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      margin-top: auto;
    }
  }
  #butoncart{
    font-size:12px;
  }