@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Yatra+One&display=swap');
a.navbar-brand {
  display: flex;
  width: fit-content;
}
img.logo {
  width: 5vw;
  height: 5vw;
}
div#logo {
  font-family: 'Yatra One', cursive;
  font-size: 1.6vw;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  margin-left: 44px;
  color: white;
  text-decoration: none;
  text-decoration-line: underline;
}
@media all and (max-width: 900px) {
  /* css */
    a.navbar-logo {
      /* width: 21vw; */
     
      margin-left: 25vw;
  
  }
  div#logo {
  
    font-size: 5vw;
    
}
img.logo {
  width: 14vw !important;
  height: 14vw !important;
}

}

a.nav-links {
  color: white;
}
.dropdown-menu.show {
  background: white;
}
a.dropdown-link {
  color: black;
  font-family: auto;
  text-decoration: none;
}
a.navbar-brand {
  display: flex;
  width: -moz-fit-content;
  width: 20vw;
}
a.navbar-logo {
  /* width: 21vw; */
  width: 100%;
  display: flex;
}
li.nav-itemw {
  display: flex;
}
.cost {
  font-size: 2vw;
  /* margin: 0px; */
  font-family: 'Italianno';
  font-weight: 600;
  margin-top: 2vh;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin: 0vw;
  width: 100%;
  padding: 0px;
}
video {
  object-fit: cover;
  width: 95vw;
  justify-content: center;
  margin-left: 2vw;
  opacity: 0.7;
  background-color: blanchedalmond;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.55);
  margin-right: 3vw;
}