a.navbar-brand {
  display: flex;
  width: fit-content;
}
img.logo {
  width: 8vw;
  height: 8vw;
}
div#logo {
  font-family: fantasy;
  font-size: 3vw;
  width: fit-content;
  display:flex;
}
@media all and (max-width: 900px) {
  /* css */
    a.navbar-logo {
      /* width: 21vw; */
     
      margin-left: 25vw;
  
  }
  div#logo {
  
    font-size: 5vw;
    
}

}
.bg-dark {
  /* background-color: #212529!important; */
  background-color: cornflowerblue !important;
}
a.nav-links {
  color: black;
}
.dropdown-menu.show {
  background: cornflowerblue;
}
a.dropdown-link {
  color: black;
  font-family: auto;
}
a.navbar-brand {
  display: flex;
  width: -moz-fit-content;
  width: 20vw;
}
a.navbar-logo {
  /* width: 21vw; */
  width: 100%;
  display: flex;
}
li.nav-itemw {
  display: flex;
}
.cost {
  font-size: 2vw;
  /* margin: 0px; */
  font-family: 'Italianno';
  font-weight: 600;
  margin-top: 2vh;
}