i.fa.fa-briefcase {
    opacity: 0.5;
    font-size: 30px;
    padding-top: 2px;
    padding-left: 18px;
    
}
i.fa.fa-user-secret,i.fa.fa-codiepie,i.fa.fa-commenting-o{
    font-size: 100px;
    color: blue;
}
div#Code {
    display: flex;
    width: 90%;
    margin-left: 5%;
}
.description {
    font-size: 20px;
    font-weight: 700;
}
