@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
a.buttonsgroups.btn.btn-primary {
    margin-left: 90px;
    height: 40px;
    width: 250px;
    border-radius: 50px;
    margin-bottom: 4vw;
}
.aboutCont {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.buttonsgroup {
text-align: start;
}