.RevHead {
    text-align: center;
    font-family: 'FontAwesome';
}
.img1 {
    position: absolute;
    opacity: 0.3;
    width: 9369x;
    height: 813px;
    width: 936px !important;
}




input:invalid {
    border: 2px solid red;
  }
  input:valid {
    background-color: #ddffdd;
  }
form.form-group {
    position: sticky;
    width: 80%;
    text-align: center;
  
}
