.slick-slide  {
    margin: 0 10px;
  
  }
  .slick-track{
      height:80px
  }
   
  .slick-list {
    margin: 0 -10px;
  }
   
  .slick-slide *:focus{
    outline: none;
  }
  .img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius:72px;
  }
  .product-card,.product-img{
    width: 100px !important;
  }
  .slick-slide img{
    opacity:0.5;
    &:hover{
      opacity:1;
      cursor: pointer;
    }
  }
.carbtn{
  border:transparent;
  background:transparent;
}
.product-name {
  text-align: center;
  font-size: 13px;
  text-transform: capitalize;
  color: black;
  margin-top: 15px;
}