.footer{
    height: 500px;
    margin-top: 150px;
    background-color: beige;
   
}
.footerOne {
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.Footertwo {
    display: flex;
    justify-content: space-between;
}
.Footertime {
    margin-left: 10px;
}
i.fa.fa-btc {
    font-size: 25px;
    color: blue;
}
.titleone {
    font-size: 25px;
    opacity: 0.7;
    font-weight: 700;
    text-decoration: underline;
}
.footerContent {
    /* font-size: 18px; */
    margin-bottom: 38px;
    /* font-weight: 500; */
    /* font-family: 'Roboto'; */
    opacity: 0.8;
    color: black;
    margin-left: 10px;
}
.fafooter{
    margin-right: 8px;
font-size: 40px;
color: blue;
}
.footerContentab {
    width: 200px;
    margin-bottom: 15px;
    color: black;
}
img#flower {
    height: 48px;
}