@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


video {
    object-fit: cover;
   
    width: 100%;
}
.vid{
    display:grid;
}
video,.vidContent {
    grid-area: 1/1;
}
.vidContent {
  
 
    z-index: 10;
    text-align: center;
    margin-top: 20%;
}
.sameColor{
    color: white;
}
.browseButton{
    background-color:rgb(9, 143, 253);
}

p#hansa {
    font-family: Italianno;
    font-size: 4vw;
    margin: 0px;
}
p#carding {
    font-family: Roboto;
    font-size: 5vw;
    margin: 0px;
}
p#over {
    font-weight: 400;
    font-size: 2vw;
    
}
.browseButton {
  
    background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    font-weight: 700;
    font-size: 1.5vw;
    /* background-color: #ddd; */
    border: none;
    /* color: black; */
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.fa{
    margin-right: 8px;
}

