.slick-slide  {
    margin: 0 10px;
  
  }
  .slick-track{
      height:80px
  }
   
  .slick-list {
    margin: 0 -10px;
  }
   
  .slick-slide *:focus{
    outline: none;
  }
  .Img {
    width: 300px;
    height: 300px;
    
  }
  .productcard,.productimg{
    width: 100px !important;
  }
  